package pages

import "github.com/clayton-schneider/fluency/view/layout"
import "github.com/clayton-schneider/fluency/models"
import "github.com/clayton-schneider/fluency/view/components"

templ ViewChart(chart models.Chart) {
@layout.Base() {
<h1>Standard Celeration Chart For: { chart.Student }, learning: {chart.Skill}, from { chart.Date }</h1>
@components.SSChart(chart)
}
}
